<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      {% include "partials/copyright.html" %}
      {% if config.extra.social %}
      {% include "partials/social.html" %}
      {% endif %}
    </div>
  </div>
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">


      <table class="md-footer-meta__inner">
        <colgroup>
          <col style="width: 20%" />
          <col style="width: 80%" />
        </colgroup>
        <tbody>
          <tr>
            <td valign=center>
              <img alt="National Science Foundation"
                   src="https://ncar.ucar.edu/profiles/custom/ncar_ucar_umbrella/themes/custom/koru/libraries/koru-base/img/NSF_Official_logo.png"
                   width="290">
            </td>
            <td valign=center>
              <p style="font-size:0.85em; ">
              This material is based upon work supported by the NSF National Center for
              Atmospheric Research, a major facility sponsored by the U.S. National Science
              Foundation and managed by the University Corporation for Atmospheric Research.
              Any opinions, findings and conclusions or recommendations expressed in this
              material do not necessarily reflect the views of the 
              <a href="https://nsf.gov/">U.S. National Science Foundation</a>.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</footer>
